html, body {
    background-color: #ddddff;
    width: 100%;
    height: 100%;
    margin: 0;
}

.page {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18pt;
}

.heading h1 {
    font-size: 16pt;
}

.promo {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.promo-item {
    margin-right: 100px;
    margin-left: 100px;
}

.promo-item h2 {
    font-size: 14pt;
}

.main {
    display: flex;
    flex-direction: row;
}

.image {
    display: flex;
    width: 50%;
    justify-content: center;
}

.links {
    margin-left: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.link {
    margin-top: 10px;
}

.link a {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.slogan h2 {
    color: #cc3333;
    font-size: 14pt;
}