.button {
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 12px 24px 12px 24px;
  border-radius: 3px;
  border: 0;
  width: 100%;
  text-align: center;
}

.primary {
  color: white;
  background-color: black;
}

.action {
  color: black;
  background-color: #07E761;
}

.promo {
  color: white;
  background-color: #8A2BE2;
}

.secondary {
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 2px inset;
}

.secondary:hover {
  color: rgba(0, 0, 0, 0.9);
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 0px 2px inset;
}

.floating {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 2px inset;
}

.floating:hover {
  color: rgba(0, 0, 0, 0.9);
}

.text {
  margin: 0
}

.link {
  color: #8A2BE2;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #8A2BE2;
}

.link:hover {
  opacity: 0.4;
}

@media (max-width: 768px) {
	.button {
		padding: 16px 32px 16px 32px;
	}
}