.text {
  font-family: 'Martian Mono', sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

/* Alignments */

.uppercase {
  text-transform: uppercase;
}

/* Sizes */

.xs {
  font-size: 12px;
}

.s {
  font-size: 14px;
}

.m {
  font-size: 16px;
}

.l {
  font-size: 20px;
}

.xl {
  font-size: 24px;
}

.xxl {
  font-size: 42px;
}

/* Weights */

.bold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}

/* Colors */

.purple {
  color: #8A2BE2;
}

.green {
  color: #07E761;
}

.secondary {
  color: #777;
}

.warning {
  color: #FFA500;
}

.error {
  color: #FF0000;
}
