.page {
  display: flex;
  padding: 0 14px;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  margin: 0 auto 24px auto;
}

.main {
  flex-direction: column;
  max-width: 1272px;
  display: flex;
  margin: auto;
  width: 100%;
  flex: 1;
}

.faqSection {
  margin-bottom: 42px;
}

.sectionContent {
  margin-bottom: 24px;
}

.sectionTitle {
  margin-top: 32px;
  margin-bottom: 32px;
}

.timeline {
  list-style: none;
}

.timelinePoint {
  margin: 18px;
  margin: 18px;
}

@media (max-width: 768px) {
  .main {
    gap: 34px;
  }
}
