.description, .slogan {
	margin-bottom: 8px;
}

.button {
	margin-bottom: 14px;
}

.content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
}

.image {
  overflow: hidden;
}

@media (max-width: 768px) {
	.content {
		height: 380px;
	}

	.hero, .content, .description, .slogan, .button {
		margin-bottom: 34px;
	}

	.description {
		margin-top: 14px;
	}

	.slogan {
		align-self: center;
	}

	.button {
		align-self: center;
	}

  .image {
    overflow: hidden;
    max-height: 320px;
    margin: 34px 0;
  }
}