.container {
	width: 100%;
	min-height: 400px;
	margin-bottom: 24px;
}

.content {
	gap: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.imageItem {
	min-width: 350px;
	min-height: 350px;
	position: relative;
  overflow: hidden;
}

.imageComponent {
	object-fit: cover;
}

@media (max-width: 768px) {
	.imageItem {
		margin: 24px 0;
	}

	.slogan {
		align-self: center;
	}

	.button {
		align-self: center;
	}

	.content {
		text-align: center;
	}
}

@media (max-width: 520px) {
	.content {
		text-align: unset;
	}
}