.section {
  display: flex;
  gap: 48px;
}

.aside {
  width: 330px;
  margin: 0 auto;
}

.title {
  margin-bottom: 32px;
}

.text {
  margin-bottom: 24px;
}

.imageHeader {
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
  }
}