@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

@font-face {
  font-family: 'martian-mono-normal-400-fallback';
  size-adjust: 116.681%;
  src: local('Courier New');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Martian Mono', 'martian-mono-normal-400-fallback';
}

a {
  color: inherit;
  text-decoration: none;
}
