.container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1272px;
  justify-content: space-between;
}

.item {
  flex: 0 1 calc((100% / 12 * var(--cols)) - 28px);
}

@media (max-width: 768px) {
  .item {
		/* Full width on small screens */
    flex: 1 1 100%;
  }

  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hideOnTablet {
    display: none;
  }
}