.sliderContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
}

.sliderTrack {
  display: flex;
  height: 100%;
  transition: transform 0.65s ease-out;
}

.sliderItem {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderDots {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeDot {
  background-color: white;
}

.imageComponent {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1.05);
}
